.Container {
  width: 90%;
  max-width: 1080px;
  margin: 48px auto;
  background: white;
  min-height: 600px;
  padding: 32px;
  border-radius: 10px;
}

.Heading {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
}

.TableContainer {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 -12px;
}

.TableHeader {
  background: #f6f6f6;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding: 0 12px;
  font-weight: 500;
}

.TableRow {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: 1px solid #f6f6f6;
  padding: 0 12px;
}

.TableRow > span {
  display: flex;
  align-items: center;
}

.TableRow {
  --button-opacity: 0;
}

.TableRow span:hover,
.TableRow a:hover {
  --button-opacity: 1;
}

.TableLink {
  color: rgb(104, 104, 253);
  text-decoration: underline;
  display: flex;
  align-items: center;
}

.TableRightAligned {
  /*text-align: right;*/
  font-variant-numeric: tabular-nums;
}
