.ComposerWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.ButtonComment {
  background: #fff;
  margin-left: 6px;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  opacity: var(--button-opacity);
}

.ButtonComment:hover {
  background: #f6f6f6;
}

.AvatarButton {
  appearance: none;
  background: none;
  padding: 0;
  margin: 0;
  margin-left: 4px;
}

.AvatarButton img {
  width: 20px;
  height: 20px;
}

.Composer {
  position: absolute;
  margin-top: 8px;
  top: 100%;
  width: 300px;
  box-shadow: var(--shadow);
  border-radius: 8px;
}

.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.Composer,
.Thread {
  --lb-radius: 20px;
  position: absolute;
  margin-top: 8px;
  top: 100%;
  width: 350px;
  box-shadow: var(--shadow);
  border-radius: 8px;
  overflow: hidden;
  z-index: 10;
  left: 6px;
}

.Composer[data-column-type="pipeline"],
.Thread[data-column-type="pipeline"] {
  left: unset;
  right: 0;
}
