.toolbar {
  display: flex;
  align-items: center;
  z-index: 10;
}

.toolbarSeparator {
  height: 1rem;
  margin: 0 16px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.toolbarActions {
  display: flex;
  gap: 4px;
}
